package view

import "main/pkg/view/htmx"

templ ChangePassword(Email string, Token string) {
    <div class="w-full flex justify-center items-center">
        <form class="w-[300px] flex flex-col gap-5" { htmx.PostLink("/auth/password", "")... }>
            <input class="hidden" type="text" name="Email" value={Email} />
            <input class="hidden" type="text" name="Token" value={Token} />

            <span class="text-3xl text-center font-nino font-bold text-primary">შექმენი ახალი პაროლი</span>

            <input  class="w-full input input-bordered max-w-xs rounded-box" 
                    type="password" name="Password" placeholder="ახალი პაროლი" />
            
            <input  class="w-full input input-bordered max-w-xs rounded-box" 
                    type="password" placeholder="გაიმეორეთ პაროლი" />

            <button class="w-full btn rounded-box bg-primary text-white" type="submit">შექმნა</button>
        </form>
    </div>
}

templ ForgotPassword() {
    <div class="w-full flex justify-center items-center">
        <form class="w-[300px] flex flex-col gap-5"
              { htmx.PostLink("/auth/forgot", "")... }>
            <span class="w-full text-3xl font-nino font-bold text-primary">პაროლის აღდგენა</span>

            <input  class="w-full input input-bordered max-w-xs rounded-box" 
                    name="Email" type="email" placeholder="ელ ფოსტა" />

            <button type="submit" class="btn w-full bg-primary text-white rounded-box">პაროლის აღდგენა</button>
        </form>
    </div>
}

templ ForgotPasswordSuccess() {
    <div class="w-full flex justify-center items-center h-[30vh]">
        <span class="w-full text-center text-3xl font-nino font-bold text-primary">შეამოწმეთ თქვენი ელ ფოსტა</span>
    </div>
}