package view

import "main/pkg/view/scripts"

templ Index() {
    <!DOCTYPE html>
    <html lang="ka" data-theme="light">
        <head>
            @Meta()
            @Preprocessor()
        </head>
        <body class="overflow-x-hidden">
            @scripts.Auth("/auth/login")
            { children... }
        </body>
    </html>
}
