package view

templ Index() {
    <!DOCTYPE html>
    <html lang="ka" data-theme="light">
        <head>
            @Meta()
            @Preprocessor()
        </head>
        <body class="overflow-x-hidden">
            { children... }
        </body>
    </html>
}
